{% extends "layout.html" %}
{% block title %}Shoe List{% endblock %}
{% block content %}
    <h1>Available Shoes</h1>
    <img src="static/images/nikewhiteshoe.jpg" alt="Shoe Image" width="200">
    <img src="static/images/nikeblackshoe.jpg" alt="Shoe Image" width="200">
    <ul>
        {% for shoe in shoes %}
            <li>
                {{ shoe['model_name'] }} - Price: £{{ shoe['price'] }}<br>
                {{ shoe['description'] }}<br>
                <img src="{{ shoe['image_url'] }}" alt="{{ shoe['model_name'] }}" width="120">
            </li>
        {% endfor %}
    </ul>
{% endblock %}