<!-- filepath: c:\Users\User\Foodsearch website assesment L2\Main\templates\layout.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shoe Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('shoes') }}">Shoes</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>